@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
    }
}

/* Custom Loader Styles */
#initial-loader {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #101622;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.loader-dot {
    width: 12px;
    height: 12px;
    background: #135bec;
    border-radius: 50%;
    margin: 0 5px;
    animation: dot-bounce 1.4s infinite ease-in-out both;
}

.loader-dot:nth-child(1) {
    animation-delay: -0.32s;
}

.loader-dot:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes dot-bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1.0);
    }
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom);
}